@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container-narrow {
    @apply container mx-auto w-full max-w-2xl min-w-[300px];
  }
}

@layer utilities {
  .no-scrollbar {
    @apply overflow-y-auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@layer base {
  ::-webkit-scrollbar {
    @apply w-1.5 lg:w-2 hidden md:block;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded bg-gray-600;
  }

  ::-webkit-scrollbar-track {
    @apply rounded bg-transparent;
  }

  body {
    @apply no-scrollbar;
  }
}
